mibs olt zte c320/MibDataModeSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:zte-com:cwmp" targetNamespace="urn:zte-com:cwmp" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="MibInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:MibObject"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="datasource-class" type="xs:string" use="required"/>
			<xs:attribute name="localize" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MibObject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:IndexList" minOccurs="0"/>
				<xs:element ref="tns:ParameterList" minOccurs="0"/>
				<xs:element ref="tns:RowStatus" minOccurs="0"/>
				<xs:element ref="tns:MibObjectList" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="getcmdcode" type="xs:string"/>
			<xs:attribute name="setcmdcode" type="xs:string"/>
			<xs:attribute name="localizefile" type="xs:string"/>
			<xs:attribute name="panelType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="tablepanel"/>
						<xs:enumeration value="propertypanel"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="objectType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="table"/>
						<xs:enumeration value="scalar"/>
						<xs:enumeration value="entry"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="onClick" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MibObjectList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:MibObject" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Index">
		<xs:complexType>
			<xs:attribute name="oid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value=".*."/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="description" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Parameter">
		<xs:complexType>
			<xs:attribute name="oid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value=".*."/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="editable" type="xs:boolean"/>
			<xs:attribute name="visible" type="xs:boolean"/>
			<xs:attribute name="protocolValueType" type="xs:string"/>
			<xs:attribute name="valueType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="string"/>
						<xs:enumeration value="text"/>
						<xs:enumeration value="enumeration"/>
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="dateTime"/>
						<xs:enumeration value="int"/>
						<xs:enumeration value="macAddress"/>
						<xs:enumeration value="ipAddress"/>
						<xs:enumeration value="password"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="componentType" type="xs:string"/>
			<xs:attribute name="length" type="xs:int"/>
			<xs:attribute name="optionValue" type="xs:string"/>
			<xs:attribute name="valueRange" type="xs:string"/>
			<xs:attribute name="defaultValue" type="xs:string"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="unit" type="xs:string"/>
			<xs:attribute name="description" type="xs:string"/>
			<xs:attribute name="pattern" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParameterList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:Parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IndexList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:Index" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RowStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:Parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:schema>
